In [1]:
import pandas as pd

## create a dataframe views with two columns: datetime and user by reading feed-views.log

In [2]:
df = pd.read_csv('../data/feed-views.log', sep='\t',header=None, 
                 names=['datetime', 'user'], parse_dates =['datetime'])

In [3]:
df.dtypes

datetime    datetime64[ns]
user                object
dtype: object

In [4]:
df.head()

                    datetime   user
0 2020-04-17 12:01:08.463179  artem
1 2020-04-17 12:01:23.743946  artem
2 2020-04-17 12:27:30.646665  artem
3 2020-04-17 12:35:44.884757  artem
4 2020-04-17 12:35:52.735016  artem

In [5]:
df['year'] = df.datetime.dt.year
df['month'] = df.datetime.dt.month
df['day'] = df.datetime.dt.day
df['hour'] = df.datetime.dt.hour
df['minute'] = df.datetime.dt.minute
df['second'] = df.datetime.dt.second

In [6]:
df.head()

                    datetime   user  year  month  day  hour  minute  second
0 2020-04-17 12:01:08.463179  artem  2020      4   17    12       1       8
1 2020-04-17 12:01:23.743946  artem  2020      4   17    12       1      23
2 2020-04-17 12:27:30.646665  artem  2020      4   17    12      27      30
3 2020-04-17 12:35:44.884757  artem  2020      4   17    12      35      44
4 2020-04-17 12:35:52.735016  artem  2020      4   17    12      35      52

## create the new column daytime

In [7]:
daytime = ['night', 'early morning', 'morning',
          'afternoon', 'early evening', 'evening']

In [8]:
df['daytime'] = pd.cut(df.hour, [0, 4, 7, 11, 17, 20, 24], labels=daytime,
                          right=False, include_lowest=True)

In [9]:
df.set_index('user', inplace = True)

In [10]:
df.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon

##  calculate the number of elements in your dataframe

In [11]:
df.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

In [12]:
df['daytime'].value_counts()

evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

## sort values in your dataframe by hour, minute and second ascendingly (simultaneously and not one by one)

In [13]:
df.sort_values(['hour', 'minute', 'second'], inplace = True)

In [14]:
df.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night

## calculate the minimum, maximum for the hours and the mode for the daytime categories

In [15]:
df[df['daytime'] == 'night']['hour'].max()

3

In [16]:
df[df['daytime'] == 'morning']['hour'].min()

8

In [17]:
df[(df['hour'] >= 3) & (df['hour'] <= 8)].index.max()

'konstantin'

In [18]:
df['hour'].mode()[0]

22

In [19]:
df['daytime'].mode()[0]

'evening'

## show the 3 smallest hours in the morning and the corresponding usernames and the 3 largest hours and the usernames using nsmallest() and nlargest()

In [20]:
df[df['daytime'] == 'morning'].nsmallest(3, ['hour', 'minute', 'second'])

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning
alexander,2020-05-15 09:02:24.999438,2020,5,15,9,2,24,morning

In [21]:
df[df['daytime'] == 'morning'].nsmallest(3, ['hour', 'minute', 'second'])\
                                .reset_index()[['user','hour']]\
                                .set_index('user')

           hour
user
alexander     8
alexander     8
alexander     9

In [22]:
df[df['daytime'] == 'morning'].nlargest(3, ['hour', 'minute', 'second'])

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-04-18 10:57:37.331258,2020,4,18,10,57,37,morning
konstantin,2020-05-09 10:56:59.161519,2020,5,9,10,56,59,morning
maxim,2020-04-18 10:56:55.833899,2020,4,18,10,56,55,morning

In [23]:
df[df['daytime'] == 'morning'].nlargest(3, ['hour', 'minute', 'second'])\
                                .reset_index()[['user','hour']]\
                                .set_index('user')

            hour
user
konstantin    10
konstantin    10
maxim         10

## use the method describe() to get the basic statistics for the columns

In [24]:
df.describe()

         year        month          day         hour       minute       second
count  1076.0  1076.000000  1076.000000  1076.000000  1076.000000  1076.000000
mean   2020.0     4.870818    13.552974    16.249071    29.629182    29.500929
std       0.0     0.335557     4.906567     6.955490    17.689388    17.405506
min    2020.0     4.000000     1.000000     0.000000     0.000000     0.000000
25%    2020.0     5.000000    11.000000    13.000000    14.000000    14.000000
50%    2020.0     5.000000    13.000000    19.000000    29.000000    30.000000
75%    2020.0     5.000000    15.000000    22.000000    46.000000    45.000000
max    2020.0     5.000000    30.000000    23.000000    59.000000    59.000000

In [25]:
st = df.describe()['hour']
iqr = st['75%'] - st['25%']
iqr

9.0