In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('../data/feed-views.log', sep='\t', skiprows=[2, 3], skipfooter=2, 
                 engine = 'python',header=None, names=['datetime', 'user'], parse_dates =['datetime'])

In [21]:
df.dtypes

datetime    datetime64[ns]
user                object
dtype: object

In [22]:
df.head()

                    datetime    user
0 2020-04-17 12:01:08.463179   artem
1 2020-04-17 12:01:23.743946   artem
2 2020-04-17 12:35:52.735016   artem
3 2020-04-17 12:36:21.401412  oksana
4 2020-04-17 12:36:22.023355  oksana

In [26]:
df['year'] = df.datetime.dt.year
df['month'] = df.datetime.dt.month
df['day'] = df.datetime.dt.day
df['hour'] = df.datetime.dt.hour
df['minute'] = df.datetime.dt.minute
df['second'] = df.datetime.dt.second

In [27]:
df

,datetime,user,year,month,day,hour,minute,second
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23
2,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52
3,2020-04-17 12:36:21.401412,oksana,2020,4,17,12,36,21
4,2020-04-17 12:36:22.023355,oksana,2020,4,17,12,36,22
...,...,...,...,...,...,...,...,...
1067,2020-05-21 16:36:40.915488,ekaterina,2020,5,21,16,36,40
1068,2020-05-21 17:49:36.429237,maxim,2020,5,21,17,49,36
1069,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20
1070,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6
1071,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49

In [29]:
daytime = ['night', 'early morning', 'morning',
          'afternoon', 'early evening', 'evening']

In [30]:
df['daytime'] = pd.cut(df.hour, [0, 4, 7, 11, 17, 20, 24], labels=daytime,
                          right=False, include_lowest=True)

In [33]:
df.set_index('user', inplace = True)

In [34]:
df

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
oksana,2020-04-17 12:36:21.401412,2020,4,17,12,36,21,afternoon
oksana,2020-04-17 12:36:22.023355,2020,4,17,12,36,22,afternoon
...,...,...,...,...,...,...,...,...
ekaterina,2020-05-21 16:36:40.915488,2020,5,21,16,36,40,afternoon
maxim,2020-05-21 17:49:36.429237,2020,5,21,17,49,36,early evening
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening

In [35]:
df.count()

datetime    1072
year        1072
month       1072
day         1072
hour        1072
minute      1072
second      1072
daytime     1072
dtype: int64

In [37]:
df['daytime'].value_counts()

evening          508
afternoon        250
early evening    145
night            129
morning           35
early morning      5
Name: daytime, dtype: int64

In [39]:
df.sort_values(['hour', 'minute', 'second'], inplace = True)

In [40]:
df

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night
...,...,...,...,...,...,...,...,...
artem,2020-04-29 23:48:14.208828,2020,4,29,23,48,14,evening
anatoliy,2020-05-09 23:53:55.599821,2020,5,9,23,53,55,evening
pavel,2020-05-09 23:54:54.260791,2020,5,9,23,54,54,evening
valentina,2020-05-14 23:58:56.754866,2020,5,14,23,58,56,evening
alexander,2020-05-14 23:59:38.758438,2020,5,14,23,59,38,evening

In [42]:
df[df['daytime'] == 'night']['hour'].max()

3

In [45]:
df[df['daytime'] == 'morning']['hour'].min()

8

In [49]:
df[(df['hour'] >= 3) & (df['hour'] <= 8)].index.max()

'konstantin'

In [53]:
df['hour'].mode()[0]

22

In [51]:
df['daytime'].mode()[0]

'evening'

In [54]:
df[df['daytime'] == 'morning'].nsmallest(3, 'hour')

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning
alexander,2020-05-15 09:02:24.999438,2020,5,15,9,2,24,morning

In [55]:
df[df['daytime'] == 'morning'].nlargest(3, 'hour')

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-05-16 10:02:08.925840,2020,5,16,10,2,8,morning
maxim,2020-05-14 10:08:04.832361,2020,5,14,10,8,4,morning
maxim,2020-05-14 10:08:05.726956,2020,5,14,10,8,5,morning

In [58]:
df.describe()

         year        month          day         hour       minute       second
count  1072.0  1072.000000  1072.000000  1072.000000  1072.000000  1072.000000
mean   2020.0     4.872201    13.531716    16.256530    29.602612    29.508396
std       0.0     0.334021     4.901354     6.960369    17.710471    17.424398
min    2020.0     4.000000     1.000000     0.000000     0.000000     0.000000
25%    2020.0     5.000000    11.000000    13.000000    14.000000    14.000000
50%    2020.0     5.000000    13.000000    19.000000    29.000000    30.000000
75%    2020.0     5.000000    14.000000    22.000000    46.000000    45.000000
max    2020.0     5.000000    30.000000    23.000000    59.000000    59.000000

In [61]:
st = df.describe()['hour']
iqr = st['75%'] - st['25%']
iqr

9.0