In [1]:
import pandas as pd

##  download and read the csv file and make ID the index column

In [2]:
df = pd.read_csv('../data/auto.csv', index_col = 'ID')

In [3]:
df.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
4   E34877152RUS    Ford Focus     2.0  6100.0      NaN

## count the number of observations using method count()

In [4]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## drop the duplicates taking into account only the following columns: CarNumber, Make_n_model, Fines

In [5]:
df.drop_duplicates(['CarNumber', 'Make_n_model', 'Fines'], keep = 'last', inplace = True)

In [6]:
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## work with missing values

In [7]:
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [8]:
df.dropna(thresh = 500, axis = 1, inplace = True)

In [9]:
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [10]:
df['Refund'].fillna(method = 'ffill', inplace = True)

In [11]:
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [12]:
df['Fines'].fillna(df['Fines'].mean(), inplace = True)

In [13]:
df.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

In [14]:
df.head()

       CarNumber  Make_n_model  Refund   Fines
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0
1    E432XX77RUS  Toyota Camry     1.0  6500.0
2    7184TT36RUS    Ford Focus     1.0  2100.0
3   X582HE161RUS    Ford Focus     2.0  2000.0
5   92918M178RUS    Ford Focus     1.0  5700.0

##  split and parse the make and model

In [15]:
df['tmp'] = df['Make_n_model'].str.split()

In [16]:
df['Make'] = df['tmp'].apply(lambda x: x[0])
df['Model'] = df['tmp'].apply(lambda x: x[1] if len(x) > 1 else None)

In [17]:
df.drop(['Make_n_model', 'tmp'], axis = 1, inplace = True)

In [18]:
df.head()

       CarNumber  Refund   Fines    Make  Model
ID
0   Y163O8161RUS     2.0  3200.0    Ford  Focus
1    E432XX77RUS     1.0  6500.0  Toyota  Camry
2    7184TT36RUS     1.0  2100.0    Ford  Focus
3   X582HE161RUS     2.0  2000.0    Ford  Focus
5   92918M178RUS     1.0  5700.0    Ford  Focus

In [19]:
df.count()

CarNumber    725
Refund       725
Fines        725
Make         725
Model        716
dtype: int64

In [20]:
df.to_json('../data/auto.json', orient='records')