In [1]:
import pandas as pd
import sqlite3

##  put the database in the subfolder data in the root directory of the day
## create a connection to the database using the library sqlite3

In [2]:
con = sqlite3.connect('../data/checking-logs.sqlite.sqlite_copy')

## get the schema of the table pageviews using pd.io.sql.read_sql and the query "PRAGMA table_info(pageviews);"

In [3]:
pd.io.sql.read_sql('PRAGMA table_info(pageviews);', con)

   cid      name       type  notnull dflt_value  pk
0    0     index    INTEGER        0       None   0
1    1       uid       TEXT        0       None   0
2    2  datetime  TIMESTAMP        0       None   0

##  get only 10 first rows of the table pageviews to check how the table looks like

In [4]:
pd.io.sql.read_sql('SELECT * FROM pageviews LIMIT 10', con)

   index      uid                    datetime
0      0  admin_1  2020-04-17 12:01:08.463179
1      1  admin_1  2020-04-17 12:01:23.743946
2      2  admin_3  2020-04-17 12:17:39.287778
3      3  admin_3  2020-04-17 12:17:40.001768
4      4  admin_1  2020-04-17 12:27:30.646665
5      5  admin_1  2020-04-17 12:35:44.884757
6      6  admin_1  2020-04-17 12:35:52.735016
7      7  admin_3  2020-04-17 12:36:21.401412
8      8  admin_3  2020-04-17 12:36:22.023355
9      9  admin_1  2020-04-17 13:55:19.129243

## get the subtable using only one query where:

In [5]:
pageviews = pd.io.sql.read_sql('''SELECT uid, datetime
                                FROM pageviews
                                WHERE uid like "user_%"
                                ORDER BY uid asc''', 
                               con,  
                               index_col='datetime', 
                               parse_dates=['datetime'])

In [6]:
pageviews.head()

                               uid
datetime
2020-04-26 21:53:59.624136  user_1
2020-04-26 22:06:19.478143  user_1
2020-04-26 22:12:09.614497  user_1
2020-04-30 19:29:01.831635  user_1
2020-05-05 20:26:32.894852  user_1

In [7]:
pageviews.index[:5]

DatetimeIndex(['2020-04-26 21:53:59.624136', '2020-04-26 22:06:19.478143',
               '2020-04-26 22:12:09.614497', '2020-04-30 19:29:01.831635',
               '2020-05-05 20:26:32.894852'],
              dtype='datetime64[ns]', name='datetime', freq=None)

In [8]:
pageviews.describe()

           uid
count      987
unique      13
top     user_3
freq       317

## close the connection to the database

In [9]:
con.close()